body {
    background-color: #202020;
}

.square {
    background-color: cyan;
    width: 30%;
    margin: 1.66%;
    float: left;
    padding-bottom: 30%;
    border-radius: 10%;
}

#container {
    margin: 0 auto;
    max-width: 600px;
}

h1 {
    margin: 0 auto;
}

#header {
    margin: 0;
}

#titleDisplay {
    background: rgb(133, 133, 255);
    margin: 0;
}

#optionsBar {
    background: white;
    margin: 0;
}